html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 300;
}

body {
    padding-top: 60px;
}

a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #217ee7;
}

#content {
    text-align: center;
    max-width: 520px;
    padding: 32px;
    line-height: 1.6em;
    margin: auto;
    /* Center content horizontally */
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #1565c0;
}

body .barca {
    color: #990d0d;
    font-style: italic;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode a {
    color: #bb86fc;
}

body.dark-mode a:hover {
    color: #bb86fc;
}

body.dark-mode .icons a {
    color: #e0e0e0;
}

body.dark-mode .icons a:hover {
    color: #bb86fc;
}

body.dark-mode .barca {
    color: #ffc107;
    font-style: italic;
}

/* Dark mode toggle button styles */
#dark-mode-toggle {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: black;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

#dark-mode-toggle.hidden {
    opacity: 0;
    /* Hide the button by setting opacity to 0 */
    pointer-events: none;
    /* Disable pointer events when hidden */
}

#dark-mode-toggle:hover {
    color: #1565c0;
}

body.dark-mode #dark-mode-toggle {
    color: #e0e0e0;
}

body.dark-mode #dark-mode-toggle:hover {
    color: #bb86fc;
}

@media screen and (max-width: 600px) {
    #content {
        padding: 16px;
    }
}